In [15]:
import pandas as pd
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')

## 데이터 필드
id  - 생물의 ID

bone_length - 생물체의 뼈의 평균 길이. 0에서 1 사이의 정규화 된 값.

rotting_flesh  - 생물의 썩은 살의 비율

hair_length - 평균 머리 길이, 0에서 1 사이의 정규화

has_soul  - 생물체 내의 영혼의 비율

color - 지배적 인 색 : '흰색', '검은 색', '맑은', '푸른 색', '녹색', '피'

type  - 대상 변수 : 'Ghost', 'Goblin', 'Ghoul'

In [16]:
train.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [17]:
test.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537  black
1   6     0.427332       0.645024     0.565558  0.451462  white
2   9     0.549602       0.491931     0.660387  0.449809  black
3  10     0.638095       0.682867     0.471409  0.356924  white
4  13     0.361762       0.583997     0.377256  0.276364  black

In [18]:
train = train.drop(['id'],axis=1)
test = test.drop(['id'],axis=1)

In [25]:
train.head()

   bone_length  rotting_flesh  hair_length  has_soul  color    type
0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [24]:
test.head()

   bone_length  rotting_flesh  hair_length  has_soul  color
0     0.471774       0.387937     0.706087  0.698537  black
1     0.427332       0.645024     0.565558  0.451462  white
2     0.549602       0.491931     0.660387  0.449809  black
3     0.638095       0.682867     0.471409  0.356924  white
4     0.361762       0.583997     0.377256  0.276364  black

In [21]:
train.shape

(371, 6)

In [20]:
test.shape

(529, 5)

In [34]:
df = pd.DataFrame.from_try(train(color))

AttributeError: type object 'DataFrame' has no attribute 'from_try'